:root{
  --mainGreen:#669900;
  --lightGreen:#ffff99;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3;
  text-transform: uppercase;

}

.text-green{
  color: var(--mainDark)
}
.text-bright{
  color: var(--mainGreen)
}